extends layout

block content
  h1= path
  a(href='/upload?path=' + path + '&type=static') Upload file
  ul
    li 
      a(href=path) ..
    - each file in files
      li  
        a(href=path+'/'+file)= file
