doctype 5
html
  head
    title SpiderYum
    link(rel='stylesheet', href='/stylesheets/style.css?type=static')
    script(src='/javascripts/jade.min.js?type=static')
    script(src='/javascripts/jquery.min.js?type=static')
    script(src='/javascripts/spideryum.js?type=static')
  body
    block content
